.headercollage{
    background-image: url("https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    
}
a{
    text-decoration: none;
}
.header_xx{
    width: 80%;
    padding: 30px 10%;
}
.header_logoo{
    width: 10%;   
    height: 90px;
    float: right;
    border-radius: 50%;
    margin: 20px 0 ;
}
.header_x{
    direction: rtl;
    width: 87%;
    padding: 15px;
    margin: 0;
    height: 100px;
    line-height: 100px;
    color: white;
}

.link{
    color: white;
    text-align: center;
    font-weight: 700;
}

.link:hover{
    background-color: rgb(94, 36, 36);
}

.department{
    border-top: 2px solid white;
    width: 100%;
    display: grid;
    grid: auto / 14% 14% 14% 14% 14% 14% 14% ;
}

@media only screen and (max-width: 600px) {
    .header_xx{
        width: 100%;
        padding: 20px 0;
        height: 100px;
    }
    .header_logoo{
        width: 15%;
        height: 60px;
        margin: 20px 0;
    }
    .header_x{
        width: 80%;
        font-size: 27px;
        margin: 0px  ;
        padding: 0;
    }

    .department{
        width: 100%;
        display: grid;
        grid: auto / 32% 32% 32%;
        grid-gap: 5px;
    }
}